.btn {
    color: rgb(51, 51, 51);
    background-color: rgb(158, 214, 164);
    border-radius: 0.3rem;
    border-color: green;
    border-width: 0rem;
    height: 2rem;
    width: 6rem;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover {
    background-color: rgb(190, 231, 194);
}

/* .buttonRandom {
    margin-left: 1rem;
} */