.divError {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: rgba(230, 230, 230, 1);
    font-weight: 400;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
}

.image {
    /* width: 50%; */
    /* transform: scale(1.05) */
    margin: 1rem;
}

.divButtonHome {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 0 1rem 0;
}