.image {
    height: 4rem;
    width: auto;
    margin-bottom: 2rem;
}

.divLoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2rem;
    color: rgba(230, 230, 230, 1);
    font-weight: 400;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    width: 30%;
}

.divButton {
    margin-top: 2rem;
}

.warning {
    border: solid rgb(250, 180, 180) 1px;
    border-radius: 0.2em;
}

.danger {
    font-size: 0.7rem;
    color: rgb(250, 180, 180);
    margin-top: 0.3rem;
    margin-left: 2.8rem;
}